<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <title>Result</title>
</head>
<body class="body">
    <nav>
        <a href="home">Back to Home</a>
    </nav>
    <form action="add_degree" method="post" class="form">
        {%csrf_token%}
        <div class="msg">{{msg}}</div>
        <label for="name">Name : <br>
            <input type="text" name="name" id="name">
        </label>
        <label for="duration">Duration (In Years) : <br>
            <input type="number" name="duration" id="duration">
        </label>
        <center><button type="submit">Add degree</button></center>
    </form>
</body>
</html>